
<div class="d-flex flex-column h-100" id="body">
            <div class="box">
                <div class="box1">
                    <div class="icons">
                        <a class="nav-link" href="https://www.linkedin.com/company/motorcon-solutions" target="_blank"><img src="../../assets/img/linkedin.jpg" class="image2"></a>
                        <a class="content2" routerLink="/contact"><img src="../../assets/img/address.png" class="imgaddress"></a>
                        <a class="content2" routerLink="/contact"><img src="../../assets/img/mail.png" class="imagemail"></a>
                    </div>
                    <h5 class="h1 text-white"><img src="../../assets/img/logowhite.png" class="logo"></h5>
                    <p class="small text-muted mb-0">&copy; Copyrights. All rights reserved. <a class="text-primary" href="#">Motorcons.com</a></p>
                </div>
                <div class="box2">
                    <h5 class="text-white mb-3">Quick links</h5>
                    <ul class="list-unstyled text-muted">
                        <li><a routerLink="/">{{ 'header.home' | translate }}</a></li>
                        <li><a routerLink="/about">{{ 'header.about' | translate }}</a></li>
                        <li><a routerLink="/services">{{ 'header.services' | translate }}</a></li>
                        <!-- <li><a routerLink="/blogs">{{ 'header.blogs' | translate }}</a></li> -->
                        <li><a routerLink="/contact">{{ 'header.contact' | translate }}</a></li>
                    </ul>
                </div>
            </div>
</div>