<div  id="body">
        <div class="container">
            <div class="box">
                <div class="box1">
                    <h5 class="heading1"></h5>
                    <p class="content1">{{ 'aboutp1' | translate }}</p>
                    <p class="content1">{{ 'aboutp11' | translate }}</p>
                    <p class="content1">{{ 'aboutp13' | translate }}</p>
                </div>
                <div class="box2">
                    <!-- <h5 class="heading2">{{ 'abouth2' | translate }}</h5> -->
                    <img src="../../assets/img/wwo.jpg" class="wwo">
                    <div class="box33">
                        <a class="content31" routerLink="/services"><img src="../../assets/img/arrow.png"
                                class="arr2">{{ 'aboutp21' | translate }}</a>
                        <a class="content31" routerLink="/services"><img src="../../assets/img/arrow.png"
                                class="arr2">{{ 'aboutp22' | translate }}</a>
                        <a class="content31" routerLink="/services"><img src="../../assets/img/arrow.png"
                                class="arr2">{{ 'aboutp23' | translate }}</a>
                        <a class="content31" routerLink="/services"><img src="../../assets/img/arrow.png"
                                class="arr2">{{ 'aboutp24' | translate }}</a>

                    </div>
                </div>
                <div class="box3">
                    <h5 class="heading2">{{ 'abouth3' | translate }}</h5>
                    <div class="vissionAndMission">
                        <div class="vam">
                            <div class="vam1">
                            <img src="../../assets/img/vision.png" class="vision">
                            </div>
                            <div class="vam2">
                            <p class="content2">{{ 'aboutp3' | translate }}</p>
                            </div>
                        </div>
                        <div class="vam">
                            <div class="vam1">
                            <img src="../../assets/img/mission.png" class="mission">
                            </div>
                            <div class="vam2">
                            <p class="content2">{{ 'aboutp4' | translate }}</p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="box4">
                    <a class="content2" routerLink="/contact">{{ 'aboutp5' | translate }} <p style="display: inline-block; color:blue; text-decoration: underline;">contact@motorcons.com</p></a>
                </div>
            </div>
        </div>
</div>