<div id="body">
    <div class="container">
        <div class="box">
            <div class="box1">
                <h5 class="heading1"></h5>
                <p class="content1">{{ 'servicesp11' | translate }}</p>
                <p class="content1">{{ 'servicesp12' | translate }}</p>
                <p class="content1">{{ 'servicesp13' | translate }}</p>
            </div>
            <div class="box02">
                <h3 class="heading21">{{ 'servicesh2' | translate }}</h3>
                <div class="box2">
                    <div class="box22">
                        <button (click)="toggleShow1()"><img src="../../assets/img/tick.png" class="arrowIcon">{{
                            'servicesh21.servicesh' | translate }}</button>
                        <div *ngIf="isShown1" class="box22p">
                            <p class="content2"><img src="../../assets/img/bullet.png" class="arr2">{{
                                'servicesh21.servicesp1' | translate }}</p>
                            <p class="content2"><img src="../../assets/img/bullet.png" class="arr2">{{
                                'servicesh21.servicesp2' | translate }}</p>
                            <p class="content2"><img src="../../assets/img/bullet.png" class="arr2">{{
                                'servicesh21.servicesp3' | translate }}</p>
                            <p class="content2"><img src="../../assets/img/bullet.png" class="arr2">{{
                                'servicesh21.servicesp4' | translate }}</p>
                            <p class="content2"><img src="../../assets/img/bullet.png" class="arr2">{{
                                'servicesh21.servicesp5' | translate }}</p>
                        </div>
                    </div>
                    <div class="box22">
                        <button (click)="toggleShow2()"><img src="../../assets/img/tick.png" class="arrowIcon">{{
                            'servicesh22.servicesh' | translate }}</button>
                        <div *ngIf="isShown2" class="box22p">
                            <p class="content2"><img src="../../assets/img/bullet.png" class="arr2">{{
                                'servicesh22.servicesp1' | translate }}</p>
                            <p class="content2"><img src="../../assets/img/bullet.png" class="arr2">{{
                                'servicesh22.servicesp2' | translate }}</p>
                            <p class="content2"><img src="../../assets/img/bullet.png" class="arr2">{{
                                'servicesh22.servicesp3' | translate }}</p>
                        </div>
                    </div>
                    <div class="box22">
                        <button (click)="toggleShow3()"><img src="../../assets/img/tick.png" class="arrowIcon">{{
                            'servicesh23.servicesh' | translate }}</button>
                        <div *ngIf="isShown3" class="box22p">
                            <p class="content2"><img src="../../assets/img/bullet.png" class="arr2">{{
                                'servicesh23.servicesp1' | translate }}</p>
                            <p class="content2"><img src="../../assets/img/bullet.png" class="arr2">{{
                                'servicesh23.servicesp2' | translate }}</p>
                        </div>
                    </div>
                    <div class="box22">
                        <button (click)="toggleShow4()"><img src="../../assets/img/tick.png" class="arrowIcon">{{
                            'servicesh24.servicesh' | translate }}</button>
                        <div *ngIf="isShown4" class="box22p">
                            <p class="content2"><img src="../../assets/img/bullet.png" class="arr2">{{
                                'servicesh24.servicesp1' | translate }}</p>
                            <p class="content2"><img src="../../assets/img/bullet.png" class="arr2">{{
                                'servicesh24.servicesp2' | translate }}</p>                           
                        </div>
                    </div>
                    <div class="box22">
                        <button (click)="toggleShow5()"><img src="../../assets/img/tick.png" class="arrowIcon">{{
                            'servicesh25.servicesh' | translate }}</button>
                        <div *ngIf="isShown5" class="box22p">
                            <p class="content2"><img src="../../assets/img/bullet.png" class="arr2">{{
                                'servicesh25.servicesp1' | translate }}</p>
                            <p class="content2"><img src="../../assets/img/bullet.png" class="arr2">{{
                                'servicesh25.servicesp2' | translate }}</p>
                        </div>
                    </div>
                    <div class="box22">
                        <button (click)="toggleShow6()"><img src="../../assets/img/tick.png" class="arrowIcon">{{
                            'servicesh26.servicesh' | translate }}</button>
                        <div *ngIf="isShown6" class="box22p">
                            <p class="content2"><img src="../../assets/img/bullet.png" class="arr2">{{
                                'servicesh26.servicesp1' | translate }}</p>
                            <p class="content2"><img src="../../assets/img/bullet.png" class="arr2">{{
                                'servicesh26.servicesp2' | translate }}</p>
                            <p class="content2"><img src="../../assets/img/bullet.png" class="arr2">{{
                                'servicesh26.servicesp3' | translate }}</p>
                        </div>
                    </div>
                    <div class="box22">
                        <button (click)="toggleShow7()"><img src="../../assets/img/tick.png" class="arrowIcon">{{
                            'servicesh27.servicesh' | translate }}</button>
                        <div *ngIf="isShown7" class="box22p">
                            <p class="content2"><img src="../../assets/img/bullet.png" class="arr2">{{
                                'servicesh27.servicesp1' | translate }}</p>
                        </div>
                    </div>
                </div>
                <div class="box222">
                    <img src="../../assets/img/collage.jpg" class="imagecollage">
                </div>
            </div>
            <h5 class="heading4"> {{ 'servicesh3' | translate }} </h5>
            <div class="box3">
                
                <div class="box31">
                    <div><img src="../../assets/img/blacktick.png" class="arrowIcon">{{ 'servicesh31.servicesh' | translate }}</div>
                    <div class="box22p">
                        <p class="content2"><img src="../../assets/img/bullet.png" class="arr2">{{
                            'servicesh31.servicesp1' | translate }}</p>
                        <p class="content2"><img src="../../assets/img/bullet.png" class="arr2">{{
                            'servicesh31.servicesp2' | translate }}</p>
                        <p class="content2"><img src="../../assets/img/bullet.png" class="arr2">{{
                            'servicesh31.servicesp3' | translate }}</p>
                        <p class="content2"><img src="../../assets/img/bullet.png" class="arr2">{{
                            'servicesh31.servicesp4' | translate }}</p>
                        <p class="content2"><img src="../../assets/img/bullet.png" class="arr2">{{
                            'servicesh31.servicesp5' | translate }}</p>
                        <p class="content2"><img src="../../assets/img/bullet.png" class="arr2">{{
                            'servicesh31.servicesp6' | translate }}</p>
                    </div>
                </div>
                <div class="box31">
                    <div><img src="../../assets/img/blacktick.png" class="arrowIcon">{{ 'servicesh32.servicesh' | translate }}</div>
                    <p class="content2"><img src="../../assets/img/bullet.png" class="arr2">{{ 'servicesh32.servicesp1' | translate }}</p>
                    <div class="box22p2">
                        <p class="content2"><img src="../../assets/img/bullet.png" class="arr2">{{
                            'servicesh32.servicesp2' | translate }}</p>
                        <p class="content2"><img src="../../assets/img/bullet.png" class="arr2">{{
                            'servicesh32.servicesp3' | translate }}</p>
                        <p class="content2"><img src="../../assets/img/bullet.png" class="arr2">{{
                            'servicesh32.servicesp4' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="box4">
                <h3>{{ 'servicesh4' | translate }}</h3>
                <h3>{{ 'servicesh5' | translate }}</h3>
            </div>
        </div>
    </div>